In [1]:
import pandas as pd

In [2]:
import c00__db_connection
engine = c00__db_connection.engine

In [3]:
aisles_df = pd.read_sql_query('SELECT * FROM "aisles"', con=engine)
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [4]:
departments_df = pd.read_sql('SELECT * FROM "departments"', con=engine)
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [5]:
# order_products__prior_df = pd.read_sql('SELECT * FROM "order_products__prior"', con=engine)
# order_products__prior_df.head()